:host ::ng-deep .leaflet-container {
    height: 100%;
    width: 100%;
  }
  /* Styles for the geocoder control */
.leaflet-control-geocoder {
  margin-top: 10px;
}

.leaflet-control-geocoder-form {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.leaflet-control-geocoder-icon {
  display: none;
}

.leaflet-control-geocoder input {
  width: 250px;
}

.leaflet-control-geocoder .leaflet-bar {
  box-shadow: none;
}

.leaflet-control-geocoder .leaflet-bar a {
  border: none;
}

.leaflet-control-geocoder .leaflet-bar a:hover {
  background-color: #f0f0f0;
}
